body {
  background-color:cornflowerblue;
}

/* APP */
.App {
  text-align: center;
  background-color:cornsilk;
  margin: 15rem auto;
  height: 80%;
  width: 80%;
}

#title, #timer {
  padding: 2rem;
}